* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(185, 212, 237);
}

.heading-text{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices-container{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn{
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: rgb(206, 66, 66);
    background-color: rgb(146, 146, 187);
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(117, 117, 216);
    color: white;
}

#result{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
